<div class="text-center">
    <h1 class="text-danger">Akses Ditolak</h1>
    <h4 class="text-danger">Anda tidak memiliki izin untuk melihat sumber ini</h4>
    <img src="~/images/aSVjtu7.png" style="height:300px; width:300px" />
</div>